@model FinalPro.AltName

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AltName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AltName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltName1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CutName.CutName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CutName.CutName1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AltNameId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
