@model MeatMe.Models.PrimalCut

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrimalCut</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrimalCutName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimalCutName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal.AnimalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.AnimalName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrimalCutId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
