@*@model IEnumerable<MeatMe.Models.CutName>*@
@model MeatMe.Models.CutName


@{
    ViewBag.Title = Model.CutName1;
}

<h2 style="text-align:center">@ViewBag.Title</h2>

<div>
    <h4>Cut Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Retail Cut Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CutName1)
        </dd>

        <dt>
            Primal Cut:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimalCut.PrimalCutName)
        </dd>

        <dt>
            Notes:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
       
    </dl>

</div>

<h4>Alternate name for this cut</h4>

    

        @foreach (var item in Model.AltNames) 
        { 
          @Html.DisplayFor(modelItem => item.AltName1)<br />
            }


<h4>Best Cooking Methods for this cut</h4>

        @foreach (var item in Model.CookCuts)
        {

                @Html.DisplayFor(modelItem => item.CookType.CookType1)<br />

        }


<br />
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CutId }) |
    @Html.ActionLink("Back to Home", "Index","Home")
</p>
<!-- begin htmlcommentbox.com -->
<div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
<link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
<script type="text/javascript" id="hcb"> /*<!--*/ if (!window.hcb_user) { hcb_user = {}; } (function () { var s = document.createElement("script"), l = ("" + window.location).replace(/'/g, "%27") || hcb_user.PAGE, h = "//www.htmlcommentbox.com"; s.setAttribute("type", "text/javascript"); s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%24Cfd8I7B4Zx0qkPvG8Jako." + "&opts=16862&num=10"); if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s); })(); /*-->*/ </script>
<!-- end htmlcommentbox.com -->
