@*@model IEnumerable<MeatMe.Models.CutName>*@
@model MeatMe.Models.CutName


@{
    ViewBag.Title = Model.CutName1;
}

<h2 style="text-align:center">@ViewBag.Title</h2>

<div>
    <h4>Cut Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Retail Cut Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CutName1)
        </dd>

        <dt>
            Primal Cut:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimalCut.PrimalCutName)
        </dd>

        <dt>
            Notes:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
       
    </dl>

</div>

<h4>Alternate name for this cut</h4>

    

        @foreach (var item in Model.AltNames) 
        { 
          @Html.DisplayFor(modelItem => item.AltName1)<br />
            }


<h4>Best Cooking Methods for this cut</h4>
<table>

    <tr class="dl-horizontal">
        @foreach (var item in Model.CookCuts)
        {
            <td>
                @Html.DisplayFor(modelItem => item.CookType.CookType1)<br />
            </td>
        }
    </tr>
</table>

<br />
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CutId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
