@model IEnumerable<FinalPro.CookCut>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Good_Bad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CookType.CookType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutName.CutName1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Good_Bad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CookType.CookType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CutName.CutName1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CookCutId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CookCutId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CookCutId })
        </td>
    </tr>
}

</table>
